<html>
	<head>
	</head>
	<body>
	<h1>Agregar Producto</h1>
		<form action="" method="POST"
			<label>Producto:</label><br>
			<input type="text" name="producto"><br>
			<label>Descripcion:</label><br>
			<input type="text" name="descripcion"><br>
			<label>Precio Compra:</label><br>
			<input type="text" name="precio_compra"><br>
			<label>Precio Ventas:</label><br>
			<input type="text" name="precio_venta"><br>
			<input type="submit" name="Enviar"><br>
		</form>
	</body>
</html>